<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="password">
    <h2 th:text="#{비밀번호_확인}"></h2>
    <form name="frmPassword" method="post" th:action="${@utils.redirectUrl('/board/password')}" target="ifrmProcess" autocomplete="off">
        <dl>
            <dt th:text="#{비밀번호}"></dt>
            <dd>
                <input type="password" name="password">
                <button type="submit" th:text="#{확인}"></button>
            </dd>
        </dl>
    </form>
</th:block>
</html>