/* 사이드바 기본 스타일 */
.sidebar {
    margin-top: 112px;
    width: 250px; /* 사이드 바의 너비 */
    height: 118%; /* 사이드 바의 높이, 전체 화면 높이 */
    background-color: #9c9ca6; /* 사이드 바 배경색 */
    color: white; /* 텍스트 색상 */
    position: fixed; /* 고정된 위치로 변경 */
    top: 0;
    left: 0;
    padding: 20px; /* 사이드 바 내부 여백 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    transition: transform 0.3s ease; /* 사이드 바의 슬라이드 애니메이션 */
}

/* 사이드바 항목 스타일링 */
.sidebar-item {
    display: block; /* 링크를 블록으로 설정하여 전체 너비 차지 */
    color: white; /* 링크 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
    padding: 10px 15px; /* 링크 내부 여백 */
    margin-bottom: 10px; /* 항목 간격 */
    border-radius: 4px; /* 모서리 둥글기 */
    transition: background-color 0.3s ease; /* 배경색 변화 애니메이션 */
}

/* 링크 호버 시 스타일링 */
.sidebar-item:hover {
    background-color: #34495e; /* 호버 시 배경색 */
}

/* 모바일 화면에서 사이드바 숨기기 및 슬라이드 인 효과 */
@media (max-width: 768px) {
    .sidebar {
        width: 200px; /* 모바일 장치에서 사이드 바 너비 조정 */
        transform: translateX(-200px); /* 화면 밖으로 숨기기 */
        height: 100%; /* 화면 높이와 맞추기 */
        transition: transform 0.3s ease; /* 사이드 바 슬라이드 애니메이션 */
    }

    /* 사이드바 열기 버튼 스타일 */
    .sidebar-toggle {
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1000; /* 사이드바보다 위에 위치하도록 설정 */
        cursor: pointer;
        background-color: #9c9ca6;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 15px;
    }

    /* 사이드바 열기 시 스타일링 */
    .sidebar.open {
        transform: translateX(0); /* 화면에 나타나도록 설정 */
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 180px; /* 더 작은 화면에서 사이드 바 너비 조정 */
    }
}

.mypageFooter {
    position: fixed; /* 화면에 고정된 위치 */
    bottom: 0; /* 화면 하단에 위치 */
    left: 0; /* 화면 왼쪽에 위치 */
    width: 100%;
}
