<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="payform">

    <form id="inicisForm" method="POST">
        <input type="hidden" name="version" value="1.0">
        <input type="hidden" name="gopaymethod" value="VBank">
        <input type="hidden" name="mid" th:value="${config.mid}">
        <input type="hidden" name="oid" value="${oid}">
        <input type="hidden" name="price" value="${price}">
        <input type="hidden" name="timestamp" value="${config.timestamp}">
        <input type="hidden" name="use_chkfake" value="Y">
        <input type="hidden" name="signature" value="${config.signature}">
        <input type="hidden" name="verification" value="${config.verification}">
        <input type="hidden" name="mKey" value="${config.mKey}}">
        <input type="hidden" name="currency" value="WON">
        <input type="hidden" name="goodname" value="좋은 상품">
        <input type="hidden" name="buyername" value="주문자">
        <input type="hidden" name="buyertel" value="01010001000">
        <input type="hidden" name="buyeremail" value="yonggyo00@kakao.com">
        <input type="hidden" name="returnUrl" value="http://localhost:3001/payment/process">
        <input type="hidden" name="closeUrl" value="http://localhost:3001/payment/close">
        <input type="hidden" name="acceptmethod" value="below1000">
    </form>
    <script src="https://stdpay.inicis.com/stdjs/INIStdPay.js"></script>
    <script>
        INIStdPay.pay("inicisForm");
    </script>
</th:block>
</html>