<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common">
    <h1>상단 영역</h1>
    <a th:href="@{/}">
        <button type="submit" th:text="#{메인화면}"></button>
    </a>
    <th:block sec:authorize="isAnonymous()">
    <a th:href="@{/member/login}">
    <button type="submit" th:text="#{로그인}"></button>
</a>
    <a th:href="@{/member/join}">
        <button type="submit" th:text="#{회원가입}"></button>
    </a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <span th:text="${#messages.msg('LOGIN_MSG',loggedMember.userName,loggedMember.email)}"/><br>
        <a th:href="@{/member/logout}">
            <button type="submit" th:text="#{로그아웃}"></button>
        </a>
        <a th:href="@{/mypage}">
            <button type="submit" th:text="#{마이페이지}"></button>
        </a>
        <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/admin}" target="_blank">
            <button type="submit" th:text="#{관리자_페이지}"></button>
        </a>
    </th:block>
</header>
</html>