<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <form th:object="${tourPlaceSearch}" name="frmTotalSearch" autocomplete="off" class="search-option-form">
        <div th:replace="~{common/_search_top::search}"></div>
<!--            <nav th:replace="~{common/_tourtype_tpl::typelist}"></nav>-->
        <div th:replace="~{common/_search_top::totalSearch}"></div>
    </form>
    <table th:replace="~{front/tour/_form::placeList}"></table>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</main>
</html>