<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<th:block layout:fragment="addCommonScript">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ff0a5aeff28590b15586c28b3d822357&libraries=services "></script>
</th:block>
<main layout:fragment="content">
    <div id="map1"></div>
    <div id="map2"></div>
    <div id="map3"></div>
</main>
</html>