<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="comment">

    <th:block th:if="${board.skin == 'default'}">
              <th:block th:replace="~{front/board/default/_comment::comment}"></th:block>
    </th:block>

    <th:block th:if="${board.skin == 'gallery'}">
        <th:block th:replace="~{front/board/gallery/_comment::comment}"></th:block>
    </th:block>

    <th:block th:if="${board.skin == 'review'}">
        <th:block th:replace="~{front/board/review/_comment::comment}"></th:block>
    </th:block>

    <th:block th:if="${board.skin == 'qna'}">
        <th:block th:replace="~{front/board/qna/_comment::comment}"></th:block>
    </th:block>




</th:block>
</html>