<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <div class="board-main-div">
        <th:block th:if="${board.skin == 'default'}">
            <div th:replace="~{front/board/default/_common::pageTitle}"></div>
        </th:block>

        <th:block th:if="${board.skin == 'gallery'}">
            <div th:replace="~{front/board/gallery/_common::pageTitle}"></div>
        </th:block>

        <th:block th:if="${board.skin == 'qna'}">
            <div th:replace="~{front/board/qna/_common::pageTitle}"></div>
        </th:block>

        <th:block th:if="${board.skin == 'review'}">
            <div th:replace="~{front/board/review/_common::pageTitle}"></div>
        </th:block>

        <th:block th:if="${board.skin == 'default'}">
            <th:block th:replace="~{front/board/default/_list_items::items}"></th:block>
        </th:block>

        <th:block th:if="${board.skin == 'gallery'}">
            <th:block th:replace="~{front/board/gallery/_list_items::items}"></th:block>
        </th:block>


        <th:block th:if="${board.skin == 'review'}">
            <th:block th:replace="~{front/board/review/_list_items::items}"></th:block>
        </th:block>

        <th:block th:if="${board.skin == 'qna'}">
            <th:block th:replace="~{front/board/qna/_list_items::items}"></th:block>
        </th:block>
    </div>
</main>
</html>