<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<form name="frmSave" method="post" th:action="${@utils.redirectUrl('/board/save')}" autocomplete="off" th:object="${requestBoard}">
    <input type="hidden" name="mode" th:value="write">
    <input type="hidden" name="bid" th:value="${board.bid}">
<th:block th:fragment="form" th:object="${requestBoard}">
    <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
    <input type="hidden" name="gid" th:field="*{gid}">

    <th:block>
        <div th:replace="~{front/board/default/_common::category}"></div>
    </th:block>

    <dl>
        <dt th:text="#{작성자}"></dt>
        <dd>
            <input type="text" name="poster" th:field="*{poster}">
            <div class="error" th:each="err : ${#fields.errors('poster')}" th:text="${err}"></div>
        </dd>
    </dl>
    <dl th:if="${isAdmin}">
        <dt th:text="#{공지사항}"></dt>
        <dd>
            <input type="checkbox" name="notice" value="true" th:field="*{notice}" id="notice">
            <label for="notice" th:text="#{공지글로_등록하기}"></label>
        </dd>
    </dl>
    <dl th:if="*{ guest }">
        <dt th:text="#{비밀번호}"></dt>
        <dd>
            <input type="password" name="guestPw" th:field="*{guestPw}">
            <div class="error" th:each="err : ${#fields.errors('guestPw')}" th:text="${err}"></div>
        </dd>
    </dl>

    <dl>
        <dt th:text="#{제목}"></dt>
        <dd>
            <input type="text" name="subject" th:field="*{subject}">
            <div class="error" th:each="err : ${#fields.errors('subject')}" th:text="${err}"></div>
        </dd>
    </dl>

    <dl>
        <dt th:text="#{내용}"></dt>
        <dd>
            <textarea name="content" th:field="*{content}" id="content"></textarea>
            <div class="error" th:each="err : ${#fields.errors('content')}" th:text="${err}"></div>
        </dd>
    </dl>
    <dl th:if="${board.useEditor && board.useUploadImage}">
        <dt th:text="#{이미지_업로드}"></dt>
        <dd>
            <button type="button" class="fileUploads" th:data-gid="*{gid}" data-location="editor" data-image-only="true" th:text="#{이미지_선택}"></button>
            <div class="uploaded-files" id="uploaded-files-editor"></div>
        </dd>
    </dl>
    <dl th:if="${board.useUploadFile}">
        <dt th:text="#{파일_첨부}"></dt>
        <dd>
            <button type="button" class="fileUploads" th:data-gid="*{gid}" data-location="attach" th:text="#{파일_선택}"></button>
            <div class="uploaded-files" id="uploaded-files-attach"></div>
        </dd>
    </dl>
    <div class="button-group">
        <button type="reset" th:text="#{다시입력}"></button>
        <button type="submit" th:text="#{작성하기}"></button>
    </div>

    <script th:replace="~{common/_file_tpl::attach}"></script>
    <script th:replace="~{common/_file_tpl::editor}"></script>
</th:block>
</html>