<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">

    <th:block th:if="${board.skin == 'default'}">
        <th:block th:replace="~{front/board/default/_update::update}"></th:block>
    </th:block>

    <th:block th:if="${board.skin == 'gallery'}">
        <th:block th:replace="~{front/board/gallery/_update::update}"></th:block>
    </th:block>


    <th:block th:if="${board.skin == 'review'}">
        <th:block th:replace="~{front/board/review/_update::update}"></th:block>
    </th:block>

    <th:block th:if="${board.skin == 'qna'}">
        <th:block th:replace="~{front/board/qna/_update::update}"></th:block>
    </th:block>

</main>
</html>