<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{마이_페이지}"></h1>

    <div class="buttons">
    <a th:href="@{/mypage/profile}">
        <button type="submit" th:text="#{내_프로필}"></button>
    </a>
    <a th:href="@{/mypage/info}">
        <button type="submit" th:text="#{내_정보수정}"></button>
    </a>
    </div>

</main>
</html>