<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/mypage}">
<section layout:fragment="content">
    <h1 th:text="#{내_정보수정}"></h1>
    <form name="frmUpdate" method="POST" th:action="${@utils.url('/mypage/info')}" autocomplete="off" th:object="${requestProfile}">
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        <dl>
            <dt th:text="#{이메일}"></dt>
            <dd th:text="${loggedMember.email}"></dd>
        </dl>
        <dl>
            <dt th:text="#{회원명}"></dt>
            <dd>
                <input type="text" name="userName" th:field="*{userName}">
                <div class="error" th:each="err : ${#fields.errors('userName')}" th:text="${err}"></div>
            </dd>
         </dl>
        <dl>
            <dt th:text="#{비밀번호}"></dt>
            <dd>
                <input type="password" name="password" th:field="*{password}">
                <div class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{비밀번호_확인}"></dt>
            <dd>
                <input type="password" name="confirmPassword" th:field="*{confirmPassword}">
                <div class="error" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{휴대전화번호}"></dt>
            <dd>
                <input type="text" name="mobile" th:field="*{mobile}">
                <div class="error" th:each="err : ${#fields.errors('mobile')}" th:text="${err}"></div>
            </dd>
        </dl>
        <button type="reset" th:text="#{다시입력}"></button>
        <button type="submit" th:text="#{수정하기}"></button>
    </form>
</section>
</html>