<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="form" th:object="${requestBoard}">
    <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
    <input type="hidden" name="gid" th:field="*{gid}">
    <input type="hidden" name="num1" th:field="*{num1}">
    <input type="hidden" name="content" th:field="*{content}">
    <input type="hidden" name="poster" th:field="*{poster}">

    <dl>
        <dt th:text="#{제목}"></dt>
        <dd>
            <input type="text" name="subject" th:field="*{subject}">
            <div class="error" th:each="err : ${#fields.errors('subject')}" th:text="${err}"></div>
        </dd>
    </dl>

    <ul th:if="${planner.itineraries != null && !planner.itineraries.empty}">
        <li th:each="item : ${planner.itineraries}" th:object="${item}">
            <div class="tour-info">
                <div class="top">
                    <div class="title" th:text="*{title}"></div>
                    <div class="date" th:text="*{date}"></div>
                </div>
                <div class="bottom">
                    <a th:href="*{@utils.redirectUrl('/tour/detail/' + contentId)}">
                        <img th:src="*{@utils.getThumbUrl(firstImage, 400, 350)}">
                    </a>
                </div>
            </div>

            <textarea class="content" th:data-seq="*{seq}" th:text="${contents == null || contents['content_' + item.seq] == null ? '': contents['content_' + item.seq]}"></textarea>
            <button type="button" th:text="#{이미지_업로드}" class="fileUploads" th:data-gid="${requestBoard.gid}" th:data-location="*{'editor_' + seq}" data-image-only="true"></button>
            <div class="uploaded-files" th:id="*{'uploaded-files-editor_' + seq}">
                <div th:if="${files != null && files['editor_' + item.seq] != null}" th:each="file : ${files['editor_' + item.seq]}" class="file-item" th:id="${'file-' + file.seq}">
                    <a th:href="${@utils.redirectUrl('/file/download/' + file.seq)}" th:text="${file.fileName}"></a>
                    <i class="xi-file-upload insert-editor" th:data-url="${file.fileUrl}" th:data-editor-name="${'editor_' + item.seq}"></i>
                    <i class="xi-close remove" th:data-seq="${file.seq}"></i>
                </div>
            </div>
        </li>
    </ul>



    <div class="error" th:each="err : ${#fields.errors('content')}" th:text="${err}"></div>
    <script th:replace="~{common/_file_tpl::editor}"></script>
</th:block>
</html>