<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">

    <!-- Default Skin -->
    <th:block th:if="${board.skin == 'default'}">
        <th:block th:replace="~{front/board/default/_common::pageTitle}"></th:block>
        <th:block th:replace="~{front/board/default/_view::view}"></th:block>
    </th:block>

    <!-- Walking Skin -->
    <th:block th:if="${board.skin == 'walking'}">
        <th:block th:replace="~{front/board/walking/_common::pageTitle}"></th:block>
        <th:block th:replace="~{front/board/walking/_view::view}"></th:block>
    </th:block>

    <!-- Market Skin -->
    <th:block th:if="${board.skin == 'market'}">
        <th:block th:replace="~{front/board/market/_common::pageTitle}"></th:block>
        <th:block th:replace="~{front/board/market/_view::view}"></th:block>
    </th:block>

    <!-- List Items (if applicable) -->
    <th:block th:if="${board.showListBelowView}">
        <th:block th:if="${board.skin == 'default'}" th:replace="~{front/board/default/_list_items::items}"></th:block>
        <th:block th:if="${board.skin == 'walking'}" th:replace="~{front/board/walking/_list_items::items}"></th:block>
        <th:block th:if="${board.skin == 'market'}" th:replace="~{front/board/market/_list_items::items}"></th:block>
    </th:block>
</main>
</html>