<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="view">
    <div th:replace="~{front/board/default/_common::pageTitle}"></div>

    <div class="view-content" th:object="${boardData}">
        <div class="subject">
            <span th:if="*{category != null && !#strings.isEmpty(#strings.trim(category))}" th:text="*{'[' + category + ']'}"></span>
            <th:text th:text="*{subject}"></th:text>
        </div>
        <div class="post-info">
            <div class="left">
                <th:block th:text="#{작성자}"></th:block>:
                <th:block th:text="*{poster}"></th:block>
                <th:block th:if="*{member != null}" th:text="*{#strings.concat('(', member.email, ')')}"></th:block>
            </div>
            <div class="right">
                <span class="wishlist-toggle" th:data-seq="*{seq}" data-type="BOARD" th:classappend="*{@wishListService.check(seq, 'BOARD')} ? 'on'">★</span>
                <th:block th:text="#{조회수}"></th:block>: <span th:text="*{viewCount > 1000 ? #numbers.formatInteger(viewCount, 3, 'COMMA'): viewCount}"></span>
                IP: <span th:text="*{ip}"></span>
                <th:block th:text="#{작성일시}"></th:block>:
                <span th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm:ss')}"></span>
            </div>
        </div> <!--// post-info -->
        <div class="contents" th:if="*{editorView}" th:utext="*{content}"></div>
        <div class="contents" th:unless="*{editorView}" th:utext="*{@utils.nl2br(content)}"></div>

        <ul th:if="*{attachFiles != null && !attachFiles.empty}" class="downloads">
            <li th:each="file, status : *{attachFiles}" th:object="${file}">
                <th:block th:text="${status.count}"></th:block>.
                <a th:href="*{@utils.redirectUrl('/file/download/' + seq)}" th:text="*{fileName}"></a>
            </li>
        </ul>

        <div class="links">
            <a th:href="${@utils.redirectUrl('/board/write/' + board.bid)}" th:text="#{글쓰기}"></a>
            <a th:href="*{@utils.redirectUrl('/board/update/' + seq)}" th:text="#{글수정}"></a>
            <a th:href="*{@utils.redirectUrl('/board/delete/' + seq)}" th:text="#{글삭제}" onclick="return confirm('정말 삭제하겠습니까?');"></a>
            <a th:href="${@utils.redirectUrl('/board/list/' + board.bid)}" th:text="#{글목록}"></a>
        </div>

    </div>  <!--// view-content -->

</th:block>
</html>