<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="update">
    <div th:replace="~{front/board/default/_common::pageTitle}"></div>

    <form name="frmSave" method="POST" th:action="${@utils.redirectUrl('/board/save')}" autocomplete="off" th:object="${requestBoard}">
        <input type="hidden" name="mode" value="update">
        <input type="hidden" name="bid" th:value="${board.bid}">
        <input type="hidden" name="seq" th:field="*{seq}">

        <th:block th:replace="~{front/board/default/_form::form}"></th:block>

        <div class="button-group">
            <button type="reset" th:text="#{다시입력}"></button>
            <button type="submit" th:text="#{수정하기}"></button>
        </div>
    </form>
</th:block>
</html>