<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mobile/layouts/main}">
<main layout:fragment="content">
    <div class="board-main-div">
        <th:block th:if="${board.skin == 'default'}">
            <div th:replace="~{mobile/board/default/_common::pageTitle}"></div>
        </th:block>

        <th:block th:if="${board.skin == 'gallery'}">
            <div th:replace="~{mobile/board/gallery/_common::pageTitle}"></div>
        </th:block>

        <th:block th:if="${board.skin == 'default'}">
            <th:block th:replace="~{mobile/board/default/_password::password}"></th:block>
        </th:block>

        <th:block th:if="${board.skin == 'gallery'}">
            <th:block th:replace="~{mobile/board/gallery/_password::password}"></th:block>
        </th:block>
    </div>
</main>
</html>