@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

/* 기본 폰트 스타일 */
ul * {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    width: 100%; /* 모바일 화면에서 너비를 100%로 설정 */
    align-items: center;
}

/* 리스트 항목 스타일 */
ul > li {
    height: auto; /* 모바일 화면에서 높이를 자동으로 조정 */
    position: relative;
    padding: 15px; /* 모바일 화면에서 패딩을 줄임 */
    border-bottom: 1px solid #e6e6e6;
    display: flex; /* 모바일에서 아이템을 플렉스 컨테이너로 설정 */
    flex-direction: column; /* 아이템을 세로 방향으로 나열 */
}

/* 썸네일 스타일 */
.list_thumType > li img {
    width: 100%; /* 모바일 화면에서 이미지 너비를 100%로 설정 */
    height: auto; /* 이미지의 높이를 자동으로 조정 */
    max-width: 140px; /* 모바일 화면에서도 최대 너비 설정 */
    margin-bottom: 10px; /* 이미지와 텍스트 간격 조정 */
}

/* 주소 텍스트 스타일 */
.list_thumType > li .place-tit .place-address {
    display: flex;
    flex-direction: column; /* 주소와 제목을 세로로 나열 */
    font-size: 14px; /* 모바일 화면에서 폰트 크기 줄임 */
}

/* 추가 스타일 조정 */
.list_thumType > .bdr_nor {
    border-top: 1px solid #e6e6e6;
}

@media (min-width: 768px) {
    /* 태블릿 이상에서의 스타일 조정 */
    ul * {
        width: 80%; /* 태블릿 이상에서 너비를 80%로 설정 */
    }
    ul > li {
        height: 140px; /* 태블릿 이상에서 리스트 항목 높이 조정 */
        padding: 20px 0; /* 패딩을 기본 값으로 복원 */
    }
    .list_thumType > li img {
        width: 140px; /* 태블릿 이상에서 이미지 너비 조정 */
        height: 100px; /* 태블릿 이상에서 이미지 높이 조정 */
    }
    .list_thumType > li .place-tit .place-address {
        font-size: 16px; /* 태블릿 이상에서 폰트 크기 조정 */
    }
}
