@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700;800&family=Noto+Serif+KR:wght@200..900&display=swap');

* {
    font-family: "Jua", sans-serif;
    color: #000;
    box-sizing: border-box;
    outline: none;
    font-weight: 200;
}
/* 페이징 공통 S */
.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination .page {
    border: 1px solid #596b99;
    color: #596b99;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    background: #fff;
}

.pagination .page.on {
    background: #596b99;
    color: #fff;
}

.pagination .page + .page {
    margin-left: 3px;
}

/* 페이징 공통 E */

.wishList-table {
    margin-top: 45px;

}

.wishList-items {
    font-size: 1.13rem;
    width: 100%;
    margin: 10px auto;
}
.wishList-items tr {
    margin-top: 10px;
    height: 1.5rem;
}
.wishList-items th {
    padding: 10px 0;
}

.search-table {
    margin-top: 10px;
}

.searchHistory-items {
    margin-top: 10px;
    font-size: 1.13rem;
    width: 60%;

}

.searchHistory-items tr {
    margin-top: 10px;
    height: 1.5rem;
}

.searchHistory-items th {
    padding: 10px 0;
}
