main {
    display: flex;
    padding: 0;
    width: 100%;
}

main > aside {
    background: #596b99;
    color: #fff;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* 사이드 바를 숨기기 위해 왼쪽으로 이동 */
    transition: left 0.5s ease; /* 사이드바가 왼쪽으로 나타나거나 사라지는 애니메이션 */
    padding-top: 60px;
    z-index: 1000;
}

main > aside.on {
    left: 0; /* 사이드바가 화면 왼쪽에 표시됩니다. */
}

main > aside .main-logo{
    max-height: 150px;
    max-width: 260px;
}

main > aside > a {
    display: block;
    padding: 25px;
    border-bottom: 1px solid #9c9ca6;
    color: #fff;
    font-size: 1.3rem;
}
main > aside > a:hover {
    background: #34495e;
}

main > aside > #toggleBtn-mypage {
    position: absolute;
    left: 251px;
    width: 46px;
    height: 46px;
    background: #596b99;
    color: #fff;
    z-index: 1001;
    top: calc(50% - 23px);
    border-radius: 80%;
}

main > aside > #toggleBtn-mypage * {
    color: #fff;
}

main > section {
    flex-grow: 1;
    padding: 25px 50px;
}

h1 {
    margin-top: 50px;
    font-size: 2rem;
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
    line-height: 1;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'] {
    border: 1px solid #d5d5d5;
    height: 45px;
    border-radius: 3px;
    width: 100%;
    padding: 0 10px;
}

main button {
    background: #596b99;
    color: #fff;
    border: 0;
    cursor: pointer;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    font-size: 1.2rem;
}

main button.small {
    width: auto;
    height: auto;
    padding: 10px 25px;
}

main button.black {
    background: #000;
}

.button-group {
    display: flex;
    width: 500px;
    margin: 10px auto;
}

.button-group > button {
    width: 0;
    flex-grow: 1;
}

.button-group > button + button {
    margin-left: 5px;
}
