.ck-editor__editable {
    height: 350px;
}
.main-area{
    border: 1px solid #cccccc ;
    border-radius: 5px;
    padding: 10px 20px;
}

/* 게시글 목록 공통 S */
.board-main .list-items li {
    display: flex;
    border-bottom: 1px solid #ccc;
    height: 45px;
}

.board-main .list-items li:first-of-type {
    border-top: 1px solid #ccc;
}

.board-main .list-item li:hover {
    background: #f8f8f8;
}

.board-main .list-items .post-info {
    width: 300px;
    text-align: right;
}

.board-main .list-items .post-info > span {
    line-height: 43px;
}

.board-main .list-items .subject {
    flex-grow: 1;
    line-height: 43px;
    padding: 0 10px;
    font-size: 1.15rem;
}

.board-main .list-items .no-data {
    align-items: center;
    height: 250px;
    font-size: 1.15rem;
    justify-content: center;
}

.board-main .category-links {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.board-main .category-links a {
    height: 45px;
    padding: 0 35px;
    line-height: 45px;
    background: #ccc;
    border-radius: 10px;
    font-size: 1.15rem;
}

.board-main .category-links a.on {
    background: #000;
    color: #fff;
}

.board-main .category-links a + a {
    margin-left: 10px;
}

.board-main .bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.board-main .links .btn {
    display: inline-block;
    height: 45px;
    padding: 0 35px;
    line-height: 45px;
    background: #ccc;
    border-radius: 10px;
    font-size: 1.15rem;
    border: 0;
    transition: all 1s;
}

.board-main .links .btn:hover {
    background: #000;
    color: #fff;
}

.board-main .links .btn + .btn {
    margin-left: 5px;
}

/* 게시글 목록 공통 E */

/* 게시글 보기 공통 S */
.board-main .view-content .subject {
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 1.15rem;
    margin-bottom: 10px;
}

.board-main .view-content .post-info {
    border: 1px solid #ccc;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.board-main .view-content .contents {
    min-height: 350px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
}

.board-main .view-content .contents img {
    max-width: 960px;
    width: auto !important;
    height: auto !important;
}

.board-main .downloads {
    margin-bottom: 20px;
}

.board-main .downloads li {
    height: 35px;
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
}
.board-main .downloads li a {
    font-size: 1.15rem;
    line-height: 34px;
}
.border-main .downloads li a:hover {
    text-decoration: underline;
}
/* 게시글 보기 공통 E */

/* 댓글 */
#frmComment { margin: 20px 0 30px; }
.commenter_info { margin-bottom: 5px; }
.commenter_info input { width: 120px; }
.comment_content { display: flex; height: 100px; }
.comment_content button { width: 100px; background: #000; color: #fff; border: 0; cursor: pointer; font-size: 1.15rem; }
.comment_content textarea { flex-grow: 1; border: 1px solid #d5d5d5; padding: 10px; resize: none; }

.comment_items { margin-top: 10px; }
.comment_items > li { border: 1px solid #d5d5d5; padding: 10px; border-radius: 3px; }
.comment_items > li + li { margin-top: 10px; }
.comment_items .comment_top { display: flex; justify-content: space-between; height: 35px; align-items: center; border-bottom: 1px solid #222; margin-bottom: 10px; padding: 0 10px; }
.comment_items .comment { padding: 10px; background: #f8f8f8; border-radius: 3px; margin-bottom: 10px; }
.comment_items .comment textarea { width: 100%; height: 150px; border: 1px solid #d5d5d5; padding: 10px; border-radius: 3px; resize: none; }

.comment_items .btns { text-align: right; }
.comment_items button, .comment_items .btns a { border: 1px solid #596b99; background: #fff; height: 35px; padding: 0 15px; color: #596b99; cursor: pointer; transition: all 0.5s; border-radius: 3px; display: inline-block; line-height: 33px; }
.comment_items button:hover, .comment_items .btns a:hover { background: #596b99; color: #fff; }