<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <script th:fragment="image" type="text/html" id="image-file-tpl">
    <div class="image-file-box" id="file-[seq]">
      <div class="xi-close remove" data-seq="[seq]"></div>
      <div class="inner" style="background: url('[fileUrl]') no-repeat center center; background-size: cover;" data-url="[fileUrl]"></div>
    </div>
</script>

  <script th:fragment="attach" type="text/html" id="attach-file-tpl">
      <div class="file-item" id="file-[seq]">
          <a th:href="${@utils.redirectUrl('/file/download/[seq]')}">[fileName]</a>
          <i class="xi-close remove" data-seq="[seq]"></i>
      </div>
  </script>

  <script th:fragment="editor" type="text/html" id="editor-file-tpl">
      <div class="file-item" id="file-[seq]">
          <a th:href="${@utils.redirectUrl('/file/download/[seq]')}">[fileName]</a>
          <i class="xi-file-upload insert-editor" data-url="[fileUrl]"></i>
          <i class="xi-close remove" data-seq="[seq]"></i>
      </div>
  </script>
</html>