<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="form" th:object="${requestBoard}">
    <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
    <input type="hidden" name="gid" th:field="*{gid}">
    <input type="hidden" name="longText1" th:field="*{longText1}">
    <input type="hidden" name="longText2" th:field="*{longText2}">


    <div th:replace="~{front/board/walking/_common::category}"></div>


    <dl>
        <dt th:text="#{작성자}"></dt>
        <dd>
            <input type="text" name="poster" th:field="*{poster}">
            <div class="error" th:each="err : ${#fields.errors('poster')}" th:text="${err}"></div>
        </dd>
    </dl>
    <dl th:if="${isAdmin}">
        <dt th:text="#{공지사항}"></dt>
        <dd>
            <input type="checkbox" name="notice" value="true" th:field="*{notice}" id="notice">
            <label for="notice" th:text="#{공지글로_등록하기}"></label>
        </dd>
    </dl>
    <dl th:if="*{ guest }">
        <dt th:text="#{비밀번호}"></dt>
        <dd>
            <input type="password" name="guestPw" th:field="*{guestPw}">
            <div class="error" th:each="err : ${#fields.errors('guestPw')}" th:text="${err}"></div>
        </dd>
    </dl>

    <dl>
        <dt th:text="#{제목}"></dt>
        <dd>
            <input type="text" name="subject" th:field="*{subject}">
            <div class="error" th:each="err : ${#fields.errors('subject')}" th:text="${err}"></div>
        </dd>
    </dl>

    <dl>
        <dt th:text="#{내용}"></dt>
        <dd>
            <textarea name="content" th:field="*{content}" id="content"></textarea>
            <div class="error" th:each="err : ${#fields.errors('content')}" th:text="${err}"></div>
        </dd>
    </dl>
    <dl th:if="${board.useEditor && board.useUploadImage}">
        <dt th:text="#{이미지_업로드}"></dt>
        <dd>
            <button type="button" class="fileUploads" th:data-gid="*{gid}"
                    data-location="editor" data-image-only="true"
                    th:text="#{이미지_선택}"></button>
            <div class="uploaded-files" id="uploaded-files-editor"></div>
        </dd>
    </dl>
    <dl th:if="${board.useUploadFile}">
        <dt th:text="#{파일_첨부}"></dt>
        <dd>
            <button type="button" class="fileUploads" th:data-gid="*{gid}"
                    data-location="attach" th:text="#{파일_선택}"></button>
            <div class="uploaded-files" id="uploaded-files-attach"></div>
        </dd>
    </dl>

    <script th:replace="~{common/_file_tpl::attach}"></script>
    <script th:replace="~{common/_file_tpl::editor}"></script>
    <div id="mapId"></div>
    <button type="button" id="reset">다시 선택</button>
    <button type="button" id="start">출발점</button>
    <button type="button" id="vias">경유</button>
    <button type="button" id="complete">완료</button>
    <aside>
        <input type="text" th:placeholder="#{검색어를_입력하세요.}">
        <button type="submit" th:text="#{검색하기}"></button>
        <ul>
            <li>글1</li>
            <li>글2</li>
        </ul>
    </aside>

    <div class="button-group">
        <button type="reset" th:text="#{다시입력}"></button>
        <button type="submit" th:text="#{작성하기}" id="submitBtn"></button>
    </div>
</th:block>
</html>